body {
  margin: 1em;
}
header, figcaption {
  font-size: 1.2em;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.controls {
  margin: 1em;
}
img {
  margin-top: 1.2em;
}

@media screen and (max-width: 579px) { 
  img {
    width: 100%;
  }
}
